*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   // background-color: chocolate;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    //background-color: rgb(240, 211, 176);
    max-width: 80%;
    width: 100%;
    @media (min-width: 1200px){
        max-width: 80%;
    }
    // mudei
    @media (max-width: 405px){
        font-size: 14px;
        margin: 2%;
        padding: 2%;
        width: 100%;
    }
}

header {
    background-color: rgb(215, 160, 178);
    width: 100vw;
    display: flex;
    justify-content: center;
    
    

}
nav {
    //background-color: darkmagenta;
    max-width: 80%;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 1200px){
        max-width: 80%;
    }
     @media (max-width: 360px){
        padding: 4px;
        height: 50px;
        width: 80%;
    };
    
    
}
ul {
   // background-color: coral;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 12px;
    @media (max-width: 360px){
        height: 100%;
        width: 100%;
        font-size: 13px;
        justify-content: space-between;
        margin-left: 4px;
    };
}

h1 {
    text-align: center;
    margin: 5px;
    padding: 4rem;
    font-family: "Oswald", sans-serif;
    font-size: 6vh;
    @media (max-width: 360px){
        padding: 8px;
        margin: 2px;
    }
    
}
h2{
    font-family: "New Amsterdam", sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 5vh;

    @media (max-width: 360px){
        padding: 8px;
        margin: 2px;
        font-weight: 200;
        margin-top: 1px;
    }
}

.paragrafos {
    font-size: 3vh;
    padding: 2rem 5rem ;
    padding-bottom: 2rem;
    font-family: "Poppins", sans-serif;
    @media (max-width: 360px){
        padding: 2px;
        margin: 1px;
        margin-top: 15px;
    }
    // muedei
    @media (max-width: 405px){
        padding: 2px;
        margin: 1px;
        font-size: 14px;
    }
    
}


.paragrafo_baixo {
    font-size: 3vh;
    padding: 0 5rem 2rem;
    font-family: "Poppins", sans-serif;
    @media (max-width: 360px){
        padding: 2px;
        margin: 1px;
        font-size: 14px;
    }
    // mudei
    @media (max-width: 405px){
        padding: 2px;
        margin: 1px;
        font-size: 14px;
    }
}

.sessoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    @media (max-width: 360px){
        padding: 2px;
        margin: 2px;
        margin-top: 0;
    };
    
}

.sessao_srd {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    @media (max-width: 360px){
        padding: 2px;
        margin: 2px;
        margin-top: 0;
    };
}

.imgs_gatos {
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    margin-top: 24px;
    
}

.fotos_gatos_srd {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
   // background-color: rgb(192, 92, 92);
    margin-top: 24px;
    img {
        object-fit: cover;
        border-radius: 50%;
        width: 200px;
        height: 200px;

        @media (max-width: 756px){
            width: 100px;
            height: 100px;
        }
        @media (max-width: 360px){
            width: 90px;
            height: 90px;
        };
        
    }
    
    @media (max-width: 756px){
       height: 100px;
    }

    @media (max-width: 360px){
        padding: 4px;
        height: 100px;
        width: 100%;
    };
    
}

.rodape{
    background-color: rgb(215, 160, 178);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    @media (max-width: 360px){
        padding: 4px;
        height: 100%;
        max-width: 100%;
    };
    // @media (min-width: 1200px){
    //     max-width: 80%;
    // }
}
